
.card-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.card-container {

  }
  

.card {
  width:300px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin: 0 0px;
  background-color:transparent;
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(0.8);
  opacity: 0.5;
}

.card.active {
  width: 300px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}